.Category {
  background-color: #5ccade;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
}

.title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 620px){
  .Category {
    padding: 0 15px;
  }

  .title {
    margin: 30px 20px;
  }
}

@media (min-width:621px) and (max-width:800px){
  .Category {
    padding: 10px 55px 60px 70px;
  }

  .title {
    margin: 25px 20px 30px 0;
  }

}

@media (min-width: 801px){
  .Category {
    padding: 20px 20px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

}
