/*.Navbutton {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

.button-right{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  display: block;
  position: fixed;
  right: 40px;
  z-index: 5;
}

.Navbutton a {
  text-decoration: none;
}

.Navbutton a:hover {
  text-decoration: line-through;
}

@media (max-width: 620px){
  .button-right{
    bottom: 40px;
  }
}

@media (min-width:621px) and (max-width:800px){
  .button-right{
    bottom: 40px;
  }

}

@media (min-width: 801px){
  .button-right{
    top: 50%;
    transform: translateY(-50%);
  }

  .about{
    position: fixed;
    top: 43%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    font-size: 2em;
    line-height: 2em;
  }

}
